<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    {%- unless page_titles == empty %}
      <nav class="site-nav">
        <a class="page-link" href="/Mystuff2/tool-journal.html">Tools</a>
        <a class="page-link" href="/Mystuff2/resources.html">Resources</Mystuff2/a>
        <a class="page-link" href="/Mystuff2/addendums.html">Addendums</Mystuff2/a>
        <a class="page-link" href="/Mystuff2/cram.html">Cram</Mystuff2/a>
        <a class="page-link" href="/Mystuff2/cards.html">Cards</Mystuff2/a>
      </Mystuff2/nav>
    {%- endunless %}
  </div>
</header>